/.bash*
/.node-gyp/
/.npm/
/.pm2/
/.profile
/.ssh/
/.git
/pistore*
/node_modules
/bower_components
.DS_Store
/.idea
/customerservice.iml
db-calls-scrapboard
*.sublime-project
*.sublime-workspace
deplist.txt
dump.json
openbeerdata.txt